.Navbar-color{
    background-color:#282c34;
    color:#f1f2f4
}

button{
    color:#f1f2f4;
    text-decoration: none;
    color: inherit;
}
 
.navbar{
    position: fixed;
    z-index: 1;
}

.text {
    color: #f1f2f4;
    text-decoration: none;
    color: inherit;
}